<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="ArchiveFolder" value="c:\archive\"/>
    <add key="TrashFolder" value="c:\archive-trash\"/>
    <add key="SimulateOnly" value="true"/>

    <add key="NoOfLatestFileToArchive" value="1"/>
    <add key="NoOfLatestFileToKeep" value="5"/>
    <add key="DropboxAccessToken" value="accessToken"/>
    <add key="DropboxFolderToArchive" value="backup"/>

    
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:using:LiterateConsole" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="%BASEDIR%/Logs/archive-{Date}.txt"/>
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10"/>

  </appSettings>
</configuration>